.main-container{
    width: 100%;
}

h2{
    text-transform: uppercase;
}

.flex-column{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-selection-container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

@media (min-width: 450px){
    .image-selection-container{
        justify-content: center;
    }
}

.image-selection{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 3px;
    border-radius: 3px;
    opacity: 0.5;
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.image-selection:hover{
    opacity: 1;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.8);
}

.image-active{
    opacity: 1;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.8);
}

.settings-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 0 0;
}

.settings-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-container input{
    margin: 0 5px 0 5px;
}

lib-image-as-particles{
    margin: 10px 0 10px 0;
    height: 80vh;
}
