.main-container{
    width: 100%;
    height: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 180px;
}

.image-selecton-container{
    width: auto;
    cursor: pointer;
    user-select: none;
    margin: 5px;
}

.image-selecton-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-selecton-container img{
    width: auto;
    height: 100%;
}

lib-image-as-particles{
    margin: 15px;
    height: 100%;
}

@media screen and (max-width: 600px){
    .flex-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
    }
}
