<div class="main-container">
    <div class="flex-column">
        <h3>Demo: Images as interactive partilces</h3>
        <div class="flex-row">
            <img class="image-selection" [ngClass]="{'image-active' : imageUrl === selectedUrl}" 
            *ngFor="let imageUrl of imageUrls" 
            [src]="imageUrl" (click)="selectImage(imageUrl)">
        </div>
        <lib-image-as-particles [imageUrl]="selectedUrl" touchAction="none"
            imageWidth="100%" imageHeight="100%" backgroundColor="#000000"
            horizontalAlignment="center" verticalAlignment="center">
        </lib-image-as-particles>
    </div>
</div>